################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ComputeUnit/v15
/.vs
/CMakeSettings.json
/build
